* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: grey;
}

.main-container {
    display: flex;
    height: 100vh;
}

.hero-container {
    width: 60%;
    background-image: linear-gradient(to right, #662d8c, #ed1e79);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-container__content {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 5rem;

    width: 100%;
    max-width: 700px;
}

.hero-container__content h1 {
    color: #fff;
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
}

.btn {
    border: none;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    padding: 1rem 2rem;
    background-color: #00fc56;
    color: #fff;
    border-radius: 50px;
    font-size: 2rem;
    font-weight: 700;
}

.image-container {
    width: 40%;
}

.btn:hover, .btn:focus {
    background-color: #0eb947;
    cursor: pointer;
}

img {
    width: 100%;
    height: 100vh;
}

/* Utility Classes */
.hidden {
    display: none;
}

.flex {
    display: flex;
}

/* Sketching Area Container Styling*/
.sketchpad-container {
    margin: 1rem 25rem;
}

.nav-container {
    display: flex;
    height: 100%;
    background-color: #aa00ff;
    margin: 0 1rem;
    padding: 1rem;
    border-radius: 50px;
}

.vertical-navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.nav-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.active {
    color: #000;
}
